/* .navbar {
    margin-bottom: 20px;
    height: 40px;
    text-align: center !important;
    padding: 0px;
    height: 40px;
    margin-bottom: 20px;
} */

.footer-spacer {
    margin-bottom: 4%;
}

.search-button {
    border-radius: 6px !important;
    height: 45px !important;
    vertical-align: center;
    box-shadow: 3px 4px 3px grey;
    width: 200px;

}

/* .btn,
.btn-success {
    vertical-align: middle !important;
    padding: 0 10px 0 10px !important;
    font-size: 13px !important;
} */

/* .jumbotron {
    width: 100%;
    margin: 0px !important;
} */

/* .row {
    margin-top: 13px !important;
} */

.checkbox {
    margin: .5% 2.5%
}

/* .hamilton-seal {
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 110px;
    text-align: left !important;
    display: inline-block;
    opacity: 0.6;
}

.wenham-seal {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 110px;
    text-align: left !important;
    display: inline-block;
    opacity: 0.6;
} */

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

/* .header {
    padding-top: 35px !important;
    background-color: #28a745 !important;
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
    display: inline-block;
    color: white;
    height: 155px;
    line-height: 10px;
} */

/* .title {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
} */

.subhead {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    text-transform: capitalize !important;
    font-weight: normal;
    line-height: 10px;
    font-size: 18px !important;
    color: white;
    text-align: center !important;
    display: block;
}


.navbar-buttons {
    font-family: "Mark", "Avenir", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    padding-right: 0px !important;
    margin-right: 0px !important;
    white-space: nowrap;
    color: white !important;
    text-align: center !important;
}

/* .navbar-nav.navbar-center {
    position: absolute;
    right: 5%;
    transform: translate(-90%, 10px);
    color: white !important;
    text-align: center !important;
    margin-top: -20px;
    height: 200px;
    font-size: 14px;
} */

li {
    margin: 0 5px 0 5px;
    text-align: center !important;
}

ul {
    text-decoration: none;
    text-align: center !important;
}

@media screen and (max-width: 1144px) {

    .title,
    title:hover {
        font-size: 48px !important;
    }
}