.navbar {
    height: 40px;
    text-align: right !important;
    padding: 0px;
    float: right !important;
    z-index: 100;
}

.card {
    /* position: fixed; */
    top: 550px;
    width: 200px;
    margin-left: 20px;
    display: inline-block !important;
    border-radius: 10px 10px 0 0 !important;
    height: 300px;
}

.nav-link:hover {
    color: grey;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: grey;
    float: right;
    text-align: right;
    font-size: 14px;
}

a:hover, a:link {
    text-decoration:none;
}

.navbar-nav.navbar-center {
    position: absolute;
    right: 5%;
    margin-top: -10px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: grey !important;
    font-size: 30px;
}

.lifeline-text {
    position: absolute;
    color: grey !important;
    margin-top: -10px;
    height: 200px;
    font-size: 30px !important;
}

li {
    margin: 0 5px 0 5px;
    text-align: center !important;
}

ul {
    text-decoration: none;
    text-align: center !important;
}

.ad {
    font-size: 11px;
    margin-bottom: 10px;
}

.small-text {
    font-size: 18px;
}