* {
    box-sizing: border-box;
}

h4 {
    font-size: 20px !important;
    padding-top: 20px;
}

h2 {
    font-size: 30px !important;
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    margin-bottom: 0px;
    text-align: left;
    color: white;
  }

form.search {
  overflow: auto;
  /* margin-bottom: 10px; */
  /* width: 100%; */
  display: inline-block;
}

form.search button[type="submit"] {
  float: right;
}

.form-group {
    display: flex;
}

.form-control {
    display: inline-block !important;
}

.box {
    background-color: white;
    padding: 10px;
    border-radius: 0 0 6px 6px;
}

.register-box {
    margin: 0 10% 0 10%;
}

/* .review-button {
    Font-family: "Mark","Avenir","Helvetica","Arial",sans-serif;
    font-size: 10px;
    margin-top: 5px;
    white-space: nowrap;
    border-radius: 20px 20px 20px 20px !important;
} */

.login-password-field {
    border-radius: 20px 0 0 20px !important;
}

.login-email-field {
    border-radius: 20px 20px 20px 20px !important;
}

.login-submit-button {
    border-radius: 0 20px 20px 0 !important;
}

.dropdown-toggle {
    height: 40px;
}

.signup-boxes {
    margin: 0 0px 10px 0;
    height: 36px;
    border-radius: 3px 3px 3px 3px;
    border: .5px solid #cccccc;
}

.signup-container {
    padding: 20px;
}

.register-submit {
    padding: 5px 20px 5px 20px !important;
    font-size: 13px !important;
}

.spacer {
    padding-left: 5px;
}

.login-button, .register-submit, .save-button {
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    color: white;
    font-size: 13px !important;
    border-radius: 20px 20px 20px 20px !important;
    padding: 5px 15px 5px 15px !important;
    margin-right: 5px;
    display: flex;
    background-color: white;
}

textarea {
    padding: 0px;
    border-radius: 20px 20px 20px 20px;
}

.col-12 {
    padding: 0px !important;
}