* body html {
    box-sizing: border-box;
}

.img-background {
    background: url("../images/farmers-market-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
}

h4 {
    font-size: 20px !important;
    padding-top: 20px;
}

h2 {
    font-size: 30px !important;
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    margin-bottom: 0px;
    text-align: left;
    color: white;
  }

form.search {
  overflow: auto;
  display: inline-block;
}

form.search button[type="submit"] {
  float: right;
}

.form-group {
    display: flex;
}

.form-control {
    display: inline-block !important;
}

.login-submit-button {
    border-radius: 0 20px 20px 0 !important;
}

.dropdown-toggle {
    height: 40px;
}

.register-submit {
    padding: 5px 20px 5px 20px !important;
    font-size: 13px !important;
}

.login-button, .register-submit, .save-button {
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    color: white;
    font-size: 13px !important;
    border-radius: 20px 20px 20px 20px !important;
    padding: 5px 15px 5px 15px !important;
    margin-right: 5px;
    display: flex;
    background-color: white;
}

textarea {
    padding: 0px;
    border-radius: 5px 5px 5px 5px;
}

.no-results {
    text-align: center;
}

.signup-container {
    border: 1px solid #ccc;
    margin-top: 30px;
    background-color: #f0f0f0;
    height: 10%;
    overflow: scroll;
    border-radius: 6px;     
}

.signup-boxes, .image-box, .website-box, .social-boxes {
    margin: 5px;
    height: 50px;
    border: 1px solid #ccc
}

.image-box, .website-box {
    width: 48%;
    display: inline-block !important;
    padding: 10px;
}

.social-boxes {
    width: 32%;
    display: inline-block !important;
    padding: 10px;
}

.hours-boxes {
    margin: 5px;
    height: 42px;
    width: 12%;
}

.days-container {
    display: flex;
    padding: 5px;
    margin: 0px !important;
}

.days {
    width: 12% !important;
    margin: 3px;
    text-align: center;
    text-transform: uppercase;
}

.checkbox {
    margin: .5% 2.5%;
    font-size: 20px;
}

.profile-head {
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 10px;
}

.profile-box {
    border: 1px solid #cccccc;
    padding-bottom: 60px;
    margin-top: 30px;
    background-color: #f0f0f0;
}
