.dropdown-toggle {
    height: 40px;
    margin: 0px !important;
    padding: 0px !important;
}
.search-button {
    border-radius: 6px !important;
    height: 45px !important;
    vertical-align: center;
    box-shadow: 3px 4px 4px #cccccc;
    width: 200px;
    margin: 2px;

}
