.image {
    display: inline-block;
    vertical-align: top;
    padding: 0px !important;
}

.tutor-name {
    font-size: 22px;
    Font-family: "Mark","Avenir","Helvetica","Arial",sans-serif;
    font-weight: bold;
}

.expertise {
    font-size: 14px;
}

.img-thumbnail {
    padding: 0 0 5px 0 !important;
    max-width: 80% !important;
    text-align: left;
    border: none !important;
}

.map {
    border: none;
}

.text {
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
}

.list-group-item {
    padding: 10px 0px 10px 0px !important;
}

.list-group {
    padding: 0px;
}

.stars-container {
    width: 150px;
    margin: 10px 0 20px 0;
}

.rating {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    vertical-align: center;
}

.listing-title {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

