h2 {
    font-size: 30px !important;
    font-family:"Mark","Avenir","Helvetica","Arial",sans-serif;
    margin-bottom: 0px;
    text-align: left;
  }

.large-image {
  object-fit: cover;
  /* width: 1500px;
  position: absolute;
  left: 0; */
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.fill img {
  flex-shrink: 0;
  min-width: 50%;
  /* min-height: 100% */
}

.display-text {
  position: absolute;
  left: 50%;
  width: 65%;
  padding: 30px;
  transform: translatex(-50%);
  text-align: center;
  top: 12%;
  border-radius: 6px;
}

.search-text {
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Mark", "Avenir", "Helvetica", "Arial", sans-serif;
}

.nav-link:hover {
    text-decoration: none;
}

.main-subhead {
  color: white;
  text-align: left;
  display: inline-block;
  letter-spacing: 4px;
}